html {
  height:100%;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

#login-box{
  padding:1em;
  border: 1px solid #dee3e4;
  border-radius:0.3em;
  background-color:rgba(255,255,255,.8);
  box-shadow:1px 1px 6px rgba(0,0,0,.2);
}

<<<<<<< HEAD
.form-group .fv-ico{
  right:0;
}
=======
.form-control-feedback{
  right:2px;
  top:20px;
} 
>>>>>>> pre update for rebase with new formvalidation
