.picker__select--month,.picker__select--year
{
	padding-top:.25em!important;
	border-radius:5px;
}

.picker__input[readonly],.picker__input[readonly="readonly"]{
  background-color:rgba(255,255,255,0);
  padding-top:10px!important;
}


/* fix firefox bottom positioning */
.picker__holder{
  display:flex!important;
}
.picker__frame{
  position:relative!important;
  margin:auto!important;
}