.form-group{
  margin-bottom:32px;
}
.form-control,.form-control:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  border:none;
  border-bottom:1px #ccc solid;
  background-color:rgba(255,255,255,0);
  padding-left:0;
  padding-bottom:0;
  border-radius:0;
  padding-top:8px;
}
select.form-control{
  height:auto!important;
  padding-top:6px;
}

.form-control:focus{
  border-bottom:1px #777 solid;
}


.form-group label{
  font-size:16px;
  margin-bottom:0;
}

/*ERROR*/
.form-group.has-error .form-control{
  border-color:#ff5722;
}

.form-group.has-error label,
.form-group.has-error .help-block,
.form-group.has-error .form-control-feedback{
  color:#ff5722;
}

.form-group.has-success .form-control-feedback{
  color:#8bb91c;
}


.form-group.has-error .help-block{
  opacity:1;
}

.form-control-feedback{
  font-size:10px;
  position:absolute;
  right:20px;
  top:30px;
}

.form-group .help-block{
  position:absolute;
  opacity:0;
}
