input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.form-group{
  margin-bottom:32px;
}
.form-control,.form-control:focus{
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border:none;
  border-bottom:1px #ccc solid;
  background-color:rgba(255,255,255,0);
  padding-left:0;
  padding-bottom:0;
  border-radius:0;
  padding-top:8px;
}
select.form-control{
  height:auto!important;
  padding-top:6px;
}

.form-control:focus{
  border-bottom:1px #777 solid;
}


.form-group label{
  font-size:16px;
  margin-bottom:0;
}

/*ERROR*/
.form-group.has-danger .form-control{
  border-color:#ff5722;
}

.form-group.has-danger label,
.form-group.has-danger .help-block,
.form-group.has-danger .fv-plugins-icon{
  color:#ff5722;
}

.form-group.has-success .fv-plugins-icon{
  color:#8bb91c;
}

.form-group.has-danger .help-block{
  opacity:1;
}

.fv-plugins-icon{
  font-size:10px;
  position:absolute;
  right:1px;
  height: 28px!important;
  line-height: 28px!important;
  width: auto!important;
}
.fv-plugins-message-container{
  position:absolute!important;
}
.fv-plugins-message-container .fv-help-block{
  color:#fe5722!important;
}
.picker ~ .fv-plugins-message-container{
  margin-top:-25px;
}