.custom-dz-template {
  overflow: hidden !important;
  padding: 0.5rem;
  /* transition: all 0.3s ease-out; */
}

.custom-dz-template .dz-buttons-container {
  opacity: 0;
  transition: all 0.1s ease-out;
  padding-right: 6px;
  min-height: 30px;
}

.custom-dz-template:hover .dz-buttons-container {
  opacity: 1;
}
.custom-dz-template .dz-img-loading {
  margin-top: -14px;
  padding-left: 1px;
  border-radius: 0.25rem;
  border: 1px #ccc solid;
  background-color: #fff;
  overflow: hidden;
  padding: 0;
}

.dz-btn,
.dz-btn .ico {
  transition: all 0.4s ease-out;
}
.dz-btn {
  border-radius: 50%;
  position: relative;
  width: 28px;
  height: 28px;
  text-align: center;
  cursor: pointer;
  margin: 0 2px 0 1px;
}
.dz-btn .ico {
  font-size: 0.7rem;
  opacity: 0.9;
}
.dz-btn:hover .ico {
  opacity: 1;
}

.dz-container-infos .progress {
  border-radius: 0 0 0.25rem 0.25rem;
  height: 6px !important;
  margin: -7px 1px 1px 1px;
}

/* .dz-container-infos .progress .progress-value {
  position: absolute;
  font-size: 0.7rem;
  margin-left: 6px;
} */

/*css por status*/
.custom-dz-template.dz-complete .progress {
  transition: all 0.5s ease-out;
  opacity: 0 !important;
}

.custom-dz-template .dz-buttons-container .dz-btn:not(.hide-on-complete) {
  display: none !important;
}

.custom-dz-template.dz-complete
  .dz-buttons-container
  .dz-btn:not(.hide-on-complete) {
  display: flex !important;
}
.custom-dz-template.dz-complete .dz-buttons-container .dz-btn.hide-on-complete {
  display: none !important;
}
