.dz-button {
  display: none !important;
}

.dropzone.dz-clickable {
  border: 2px #ccc dashed !important;
  cursor: pointer !important;
}
.dropzone {
  height: 400px;
  overflow-y: scroll;
}

.dz-drop-files-here {
  background: url("/io/images/Drop-Files-Here-extra.png") no-repeat center
    center;
}

.dz-drop-files-here.has-childs {
  background: none !important;
}

.dropzone.dz-clickable:hover {
  border-color: #aaa !important;
}
.dropzone .error[data-dz-errormessage] {
  display: flex;
  text-align: center !important;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  font-size: 11px;
}
