* {
  font-family: 'Oswald', sans-serif;
}
body {
  line-height: 1;
}

.btn {
  cursor: pointer;
}

/*margin zero form  default spaced forms*/
form {
  margin: 0;
}
*[disabled] {
  cursor: not-allowed !important;
}
.form-control[disabled] {
  opacity: 0.3 !important;
  background-color: transparent !important;
}

/*configs para default dos buttons da sweetalert na intranet*/
.swal2-buttonswrapper .btn-swal-custom-intranetone {
  margin: 0 0.5em;
}

.dash-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 202px;
}

.dash-item .item-box {
  padding: 44px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #ced4da;
  max-height: 100%;
}

.dash-item .item-box:hover {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dash-item .item-box:hover i {
  font-size: 63px;
}

.dash-item .item-box:hover span {
  font-size: 28px;
}

.dash-item a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  text-decoration: none;
  color: #202428;
}

.dash-item i {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  font-size: 60px;
  line-height: 0;
}

.dash-item span {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  font-size: 26px;
  display: block;
}

/* default hold on big size*/
/*
.sk-bounce {
  width: 120px;
  height: 40px;
  text-align: center;
  margin-left:-40px;
}

.sk-bounce > div {
  width: 32px;
  height: 32px;
  background-color:#fff;
  opacity:.8;
}

#holdon-message{
  opacity:.8;
  font-size:32px;
  letter-spacing:2px;
}
*/
