.dv-btn-circle,
.dv-btn-circle .ico {
  transition: all 0.4s ease-out;
}
.dv-btn-circle {
  border-radius: 50%;
  position: relative;
  width: 28px;
  height: 28px;
  text-align: center;
  cursor: pointer;
}
.dv-btn-circle .ico {
  font-size: 1rem;
  opacity: 0.9;
}
.dv-btn-circle:hover .ico {
  opacity: 1;
}
